@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: burtons;
  src: url(../../public/fonts/Burtons.otf);
}

@font-face {
  font-family: heebo;
  src: url(../../public/fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

@font-face {
  font-family: vina;
  src: url(../../public/fonts/Vina_Sans/VinaSans-Regular.ttf);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}