.modal {
  width: 100vw;
  height: 100vh;
  overscroll-behavior: contain;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  overflow-y: auto;
  margin: 0 auto;
  flex-direction: column;
  background-color: white;
}

.modal div {
  overscroll-behavior: contain;
  background-color: white;
  width: 100%;
  padding: 24px;
}

.modal button.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 22px;
  color: black;
  cursor: pointer;
}

.trigger {
  cursor: pointer;
}
